# Maven build folder
target/

# Application properties - contains API key
application.properties

# STS/Eclipse specific files
.classpath
.project
.settings/
.mylyn/
.plugins/
.lock
.lock_info
.log
version.ini
.factorypath
.metadata/